image: registry.michelada.io/norden/core-backend/core-backend:latest

include:
  - template: Code-Quality.gitlab-ci.yml

variables:
  RAILS_ENV: "test"
  DB_PASSWORD: password
  DB_USER: postgres
  DB_HOST: pg
  RABBIT_HOST: rabbitmq
  RABBIT_PORT: 15672
  POSTGRES_HOST_AUTH_METHOD: trust
  DISABLE_SPRING: "true"
  CI: 1
  REDIS_URL: 'redis://redis:6379/1'

services:
  - postgres
  - redis:latest
  - rabbitmq:latest

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - bundle install

rubocop:
  stage: test
  cache:
    policy: pull
  script:
    - bundle install
    - bundle exec rubocop

test:
  stage: test
  cache:
    policy: pull
  artifacts:
    paths:
      - 'coverage/'
  variables:
    COVERAGE: 1
  script:
    - bundle install
    - bin/rails db:create
    - bin/rails db:test:prepare
    - bin/rails test
